<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeTasksManager</title>
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <span class="nav-link text-dark">Welcome, @User.Identity.Name!</span>
                    </li>
                    <li class="nav-item">
                        <form asp-controller="Home" asp-action="Logout" method="post" class="d-inline">
                            <button type="submit" class="btn btn-outline-danger">Logout</button>
                        </form>
                    </li>
                }
            </div>
        </nav>
    </header>

    <div class="p-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
